extends layout

block arr_IMG
  .container
    .row
      p.kontakti_inner Контактные телефоны
      p.kontakti_inner (098) 36-09-338
      p.kontakti_inner (097) 90-89-776
  .container
    .row
      br
      p.kontakti_inner г. Минск
      p.kontakti_inner Улица Ивана Костюка, 17
      p.kontakti_inner Ждем Вас в нашем фотосалоне!
      